/* Montserrat */
@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), local("Montserrat-Regular"),
    url("/fonts/Montserrat-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}

body {
  background-color: #f1f2f4;
}

.container {
  padding: 50px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}
#currency-selection {
  padding-top: 25px;
}

#planetary-age-tool {
  border-color: #eaecf3;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  padding: 20px;
  background-color: #fff;
}
button {
  width: 100%;
  margin-top: 32px;
}

input.form-control {
  margin-top: 25px;
  background-color: #f1f2f4;
  border-color: #eaecf3;
  color: #000;
}

.custom-select {
  background-color: #f1f2f4;
  border-color: #eaecf3;
}
